<br><br>
<div class="container">
  <h3 class="text-center wow fadeInDownBig">Baroque</h3>
  <p class="text-center">Baroque art emerged in Rome, the artistic capital of Europe in the 17th century and spread to
    other European countries where it merged with local traditions and cultures. Baroque means irregularly-shaped
    pearl, derived from barocco in Portuguese,
    first used during the mid-1700s. Baroque art does not have any relation to pearls but the word was used as an
    epithet for a style that did not meet the great artistic standards of the preceding Renaissance era. Regardless of
    its origin, it
    carried connotations of “bizarre” and “absurd” when used by its critics who dismissed it as a decadent successor
    to the revered Renaissance movement. Till the end of the 19th century and occasionally in the present time, some
    people use this
    word in its original sense as an insult towards anything they find grotesque or abnormal. The Baroque Style also
    resulted in some majestic landmarks in modern Europe architecture...<a href="https://www.identifythisart.com/art-movements-styles/pre-modern-art/baroque-art-movement/" target="_blank">read more</a>
  </p>
</div>

<div class="sculpture container">
  <div class="card-columns">
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal20">
      <img class="card-img-top wow fadeInUp" src="./images/baroque/paintings/allegory-of-war/allegory-of-war.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="allegory">
        <h5 class="card-title">Allegory of war</h5>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal21">
      <img class="card-img-top wow fadeInUp" src="./images/baroque/paintings/judith-beheading-holofernes/judith-beheading-holofernes.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="beheading">
        <h5 class="card-title"></h5>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal22">
      <img class="card-img-top wow fadeInUp" src="./images/baroque/paintings/the-elevation-of-the-cross/the-elevation-of-the-cross.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="elevation">
        <h5 class="card-title"></h5>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal23">
      <img class="card-img-top wow fadeInUp" src="./images/baroque/sculptures/aeneas-anchises-and-ascanius/aeneas-anchises-and-ascanius.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="aeneas">
        <h5 class="card-title"></h5>

      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal24">
      <img class="card-img-top wow fadeInUp" src="./images/baroque/sculptures/ecstasy-of-saint-teresa/ecstasy-of-saint-teresa.jpeg" alt="Card image cap">
      <div class="card-img-overlay" id="ecstasy">
        <h5 class="card-title"></h5>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal25">
      <img class="card-img-top wow fadeInUp" src="./images/baroque/sculptures/san-carlo-alle-quattro-fontane/san-carlo-alle-quattro-fontane.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title"></h5>
      </div>
    </div>

    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal26">
      <img class="card-img-top wow fadeInUp" src="./images/baroque/sculptures/the-three-graces/the-three-graces.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="graces">
        <h5 class="card-"></h5>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="modal20" tabindex="-1" role="dialog" aria-labelledby="modal20label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal20label">Allegory of war</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Artist: Jan Brueghel the Younger</p>
        <p class="card-text">Genres: Allegory, animal painting </p>
        <p>This piece of work was painted in the 1640s nearing the end of Europe’s Thirty Years’ War. This was a
          widespread war that effected areas all throughout Europe with mass destruction and death of over eight
          million people. Breughel is
          best known for his landscapes with allegorical content heavily influenced by the Thirty Years’ War (J. Paul
          Getty Museum).
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal21" tabindex="-1" role="dialog" aria-labelledby="modal21label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal21label">Judith beheading Holofernes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/l9XQKyG7mv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="card-text">Artist: Artmesia Gentileschi</p>
        <p class="card-text">Genres: History painting</p>
        <p>Judith Beheading Holofernes (1614-1620) is an oil-on-canvas painting, based on a Biblical story, by Italian
          painter Artemisia Gentileschi. It is part of the collection of the Uffizi Gallery in Florence.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal22" tabindex="-1" role="dialog" aria-labelledby="modal22label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal22label">The elevation of the cross</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Artist: Petere Paul Ruebens </p>
        <p class="card-text">Genres: The elevation of the cross painting</p>
        <p>The Elevation of the Cross (also called The Raising of the Cross) is the name of two paintings, a very
          large triptych in oil on panel and a much smaller oil on paper painting. Both pieces were painted by the
          Flemish artist Peter Paul
          Rubens in Antwerp, Belgium, the original in 1610 and the latter in 1638. Jesus Christ and the elevation of
          his cross are the focal points for this artwork, with features of the story overflowing from the middle
          panel onto the wings
          on both sides.)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal23" tabindex="-1" role="dialog" aria-labelledby="modal23label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal23label">Aeneas Anchises and Ascanius</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Artist: Gian Lorenzo Bernini </p>
        <p class="card-text">Subject: Aeneas,Ascanius</p>
        <p>Aeneas, Anchises, and Ascanius is a sculpture by the Italian artist Gian Lorenzo Bernini created circa
          1618-19. Housed in the Galleria Borghese in Rome, the sculpture depicts a scene from the Aeneid, where the
          hero Aeneas leads his
          family from burning Troy <a href="http://en.wikipedia.org/wiki/Aeneas,_Anchises,_and_Ascanius)">Read
            more</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal24" tabindex="-1" role="dialog" aria-labelledby="modal24label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal24label">Ecstasy of Saint Teresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Artist: Gian Lorenzo Bernini</p>
        <p class="card-text">Subject: Teresa of Avila</p>
        <p>The Ecstasy of Saint Teresa is the central sculptural group in white marble set in an elevated aedicule in
          the Cornaro Chapel, Santa Maria della Vittoria, Rome. It was designed and completed by Gian Lorenzo Bernini,
          the leading sculptor
          of his day, who also designed the setting of the Chapel in marble, stucco and paint. It is generally
          considered to be one of the sculptural masterpieces of the High Roman Baroque. It pictures Teresa of Ávila.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal25" tabindex="-1" role="dialog" aria-labelledby="modal25label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal25label">San Carlor Alle Quattro Fontane</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Artist:</p>
        <p class="card-text">Subject :slaves</p>
        <p>The church of San Carlo alle Quattro Fontane (Saint Charles at the Four Fountains), also called San
          Carlino, is a Roman Catholic church in Rome, Italy. The church was designed by the architect Francesco
          Borromini and it was his first
          independent commission. It is an iconic masterpiece of Baroque architecture, built as part of a complex of
          monastic buildings on the Quirinal Hill for the Spanish Trinitarians, an order dedicated to the freeing of
          Christian slaves.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal26" tabindex="-1" role="dialog" aria-labelledby="modal26label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal26label">The three graces</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/e3eEbi7yaEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="card-text">Artist:Antonio Canova</p>
        <p class="card-text">Subject: Charites </p>
        <p>Antonio Canova’s statue The Three Graces is a Neoclassical sculpture, in marble, of the mythological three
          charites, daughters of Zeus – identified on some engravings of the statue as, from left to right,
          Euphrosyne, Aglaea and Thalia
          - who were said to represent beauty, charm and joy. The Graces presided over banquets and gatherings
          primarily to entertain and delight the guests of the gods. As such they have always proved to be attractive
          figures for historical
          artists including Sandro Botticelli and Bertel Thorvaldsen. A version of the sculpture is to be found in the
          Hermitage Museum); another is owned jointly and exhibited in turn by the Victoria and Albert Museum and the
          National Galleri.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<h3 class="text-center wow zoomInDown">You can find us here!</h3>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2679.8104467920707!2d13.040851515832452!3d47.80451008227811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47769064b4dc019b%3A0xafb48f89ea06f46b!2sBaroque%20Museum!5e0!3m2!1sro!2s!4v1606858723348!5m2!1sro!2s" width="1470" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
