<div class="container">
  <br><br><br><br>
<h3 class="text-center wow fadeInDownBig">Contemporary art</h3>
<p class="text-center">Over the last few years, Kenya has cashed in on the “art boom” that Africa has been
  experiencing, especially in major cities like Lagos and Cape Town. Young artistsin kenya, mostly in urban areas,
  are working in multiple mediums to explore issues
  related to their childhood memories, complex social interactions besides racial, ethnic, and religious identities.
  These are some of the most popular contemporary artists in Kenya right now:
</p>
</div>
<br><br> ​
<div class="sculpture container">
  <div class="card-columns">
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal38">
      <img class="card-img-top wow fadeInUp" src="images/contemporary-kenyan-art/ed-wainaina/ed-wainaina.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="allegory">
        <h5 class="card-title">Artist/Illustrator: Ed-Wainaina</h5>
        <p></p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal39">
      <img class="card-img-top wow fadeInUp" src="images/contemporary-kenyan-art/endo-patti/endo-patti.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="beheading">
        <h5 class="card-title"> Artist: endo-patti</h5>
        <p></p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal40">
      <img class="card-img-top wow fadeInUp" src="images/contemporary-kenyan-art/viva-kanana/beauty--and-the-beast.png" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">Atrist: Viva Kanana</h5>
        ​
        <p>"Beauty in the beast"</p>
      </div>
    </div>

    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal41">
      <img class="card-img-top wow fadeInUp" src="images/contemporary-kenyan-art/macicio/macicio.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="elevation">
        <h5 class="card-title">Artist: Osborne Macharia</h5>
        <p>"MACICIO" The story revolves around the MAU MAU (Guerrilla Fighters during Kenya's struggle for
          Independence). Rumour has it that within the MAU MAu was a special unit of 5 opticians who hand crafted
          their own special spectacles that
          they used to spot the enemy at night.
        </p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal42">
      <img class="card-img-top wow fadeInUp" src="images/contemporary-kenyan-art/ondivo/ondivo.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="aeneas">
        <h5 class="card-title">Artist: Ondivow</h5>
        <p>it enatails slave trade</p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal43">
      <img class="card-img-top wow fadeInUp" src="images/contemporary-kenyan-art/the-three-musketeers/the-three-musketeers.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="ecstasy">
        <h5 class="card-title">Artist: Michael Soi</h5>
        <p>“The Three Musketeers”</p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal44">
      <img class="card-img-top wow fadeInUp" src="images/contemporary-kenyan-art/these-aliens-and-their-music/these-aliens-and-their-rapper-2016.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">Artist: Dennis Muraguri</h5>
        ​
        <p>“These Aliens and their Music”</p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal45">
      <img class="card-img-top wow fadeInUp" src="images/contemporary-kenyan-art/wise-two/wise-two-urban-project-tunis.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">Atrist: Wise Two</h5>
        ​
        <p>"Urban Project Tunis"</p>
      </div>
    </div>

    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal46">
      <img class="card-img-top wow fadeInUp" src="./images/contemporary-kenyan-art/macicio/hafw/hafw.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">Artist: Osborne Macharia</h5>
        ​
        <p>"Hafw"</p>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="modal38" tabindex="-1" role="dialog" aria-labelledby="modal38label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal38label"> Asiru-olatunde-osogbo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Artist: Ed-wainaina</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal39" tabindex="-1" role="dialog" aria-labelledby="modal39label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal39label">Endo-patti</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Artist: Endo-patti</p>

      </div>
      ​
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal40" tabindex="-1" role="dialog" aria-labelledby="modal40label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal29label">Beauty in the beast</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Artist: Viva Kanana</p>
        <p class="card-text">Viva is an Architecture student at the University of Nairobi getting to discover her abilities. She finds art as the best way to express herself and something she does when her feelings are evoked. "I mainly focus on issues affecting individuals and society at large, I use art to bring out my point of view and suggestions on how to deal with those issues. As a Christian, I also use art to express religion and use it to inspire others." Says Viva.</p>
        <p>Year: 2017</p>
        <p>Price: Ksh. 30,000</p>
        <p>Enquiries: vivakanana8@gmail.com</p>
      </div>
      ​
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal41" tabindex="-1" role="dialog" aria-labelledby="modal41label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal41label">Macicio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/kg0m3RB51UA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <p class="card-text">Artist: Osborne Macharia</p>
        <p>The story revolves around the MAU MAU (Guerrilla Fighters during Kenya's struggle for Independence). Rumour
          has it that within the MAU MAu was a special unit of 5 opticians who hand crafted their own special
          spectacles that they used
          to spot the enemy at night.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal42" tabindex="-1" role="dialog" aria-labelledby="modal42label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal42label">Slavery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/7-1p6hz_5f8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="card-text">Artist: Ondivow</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal43" tabindex="-1" role="dialog" aria-labelledby="modal43label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal43label">Three Musketeers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/uVHILCb0eNk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <p class="card-text">Artist: Michael Soi </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal44" tabindex="-1" role="dialog" aria-labelledby="modal44label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal44label">The aliens and their music</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/SOgojpCtEBY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <p class="card-text">Artist: Dennis Muraguri</p>
        <p>Year: 2016</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal45" tabindex="-1" role="dialog" aria-labelledby="modal45label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal45label">Urban project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Artist: Wise two</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal46" tabindex="-1" role="dialog" aria-labelledby="modal46label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal46label">Hawf</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/_gxyTZHiGUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <p>Artist: Osborne Macharia</p>
        <p>Year: 2016</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<h3 class="text-center wow zoomInDown">You can find us here!</h3>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2719.5819072371096!2d28.823369815574505!3d47.02881117915059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97dcbb3608e49%3A0x18464eeec3aa1c68!2sNational%20Arts%20Museum!5e0!3m2!1sru!2s!4v1606855846982!5m2!1sru!2s" width="1470" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
