<div class="container" id="kenyan">
<br><br><br><br>
  <h3 class="text-center wow zoomInDown">Historical Art</h3>
  <p class="text-center">The depth and wealth of Southern’s art history is immense and unique. A significant collection
    of art is archived in public and private institutions. ​ Sadly, the Southern public does not get to access these
    collections and the stories that define
    their history; stories of how humans have used creative expression to record their rich cultural heritage and
    inform their posterity. ​ In this series we shall attempt to showcase the various art collections by The Late
    Joseph Zuzarte Murumbi,
    Kenya’s second Vice-President and art collector, and is known to have pushed for a national art gallery of Kenya,
    a dream he never saw come alive by the time of his death in 1990..
  </p>
</div>

<div class="sculpture container">
  <div class="card-columns">
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal27">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/asiru-olatunde-osogbo.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="allegory">
        <h5 class="card-title">Asiru-olatunde-osogbo</h5>
        <p>Asiru Olatunde Osogbo (Nigerian 1918-1993) was a blacksmith like his ancestors before him . In 1961 he
          began to create figures of animals out of recycled copper and aluminium and this work evolved into a unique
          repousse technique on
          aluminium panels. ​
        </p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modalplus1">
      <img class="card-img-top wow fadeInUp" src="./images/kenyan-history/joseph-murumbi-collection/20-murumbi-tn.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="elevation">
      </div>
    </div>

    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal28">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/ateloi.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="beheading">
        <h5 class="card-title">Ateloi</h5>
        <p>The Turkana and other Nilotic tribes in Kenya and Ethiopia make a hair ornament called Ateloi. It is woven
          with grass with copper, brass or iron wires and attached to the clay headdresses that are either permanent
          or removable. These
          ornaments are used for holding ostrich or other onrmanetal feathers for their headdresses ​
        </p>
      </div>
    </div>

    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal31">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/lion’s-mane-headdress.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="ecstasy">
        <h5 class="card-title">lion’s-mane-headdress</h5>
        <p>Lion’s mane headdress Alawaru proclaims that a Maasai has killed a lion during warrior-hood. For centuries
          this was a necessary ritual but is no longer practiced ​
        </p>
      </div>
    </div>

    <div class="card view overlay zoom" data-toggle="modal" data-target="#modalplus2">
      <img class="card-img-top wow fadeInUp" src="./images/kenyan-history/joseph-murumbi-collection/34-murumbi-tn.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="elevation">
        <h5 class="card-title">34-murumbi-tn</h5>
        <p>A piece from Joseph Murumbi's collection. Unfortunately not much is known about the artist or the piece
          itself.
        </p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal29">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/dogon-iron-lamp.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="elevation">
        <h5 class="card-title">The dogon-iron-lamp</h5>
        <p>Dogon iron lamp from Mali
        </p>
      </div>
    </div>
    ​ ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal32">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/postage-stamps.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">postage-stamps</h5>
        ​
        <p>Gold version of the Penny Black was the world’s first adhesive postage stamp used in a public postal
          system. It was issued in Britain on 1 May 1840, for official use from 6 May of that year and features a
          profile of the Queen Victoria.
          ​
        </p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal33">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/spaghetti-press.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">spaghetti-press</h5>
        ​
        <p>A spaghetti press made in Lamu. The dough put inside the cylinder and the wooden lever pressed down to
          squeeze the spaghetti out of holes in the bottom of it.
        </p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal34">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/swahili-chair.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">swahili-chair</h5>
        ​
        <p>A Swahili nobleman’s chair from Lamu inlaid with ebony and bone.</p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal35">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/the-nairobi-gallery-entry-sculpture.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">The-nairobi-gallery-entry-sculpture</h5>
        ​
        <p></p>
      </div>
    </div>
    ​
    <div class="card view overlay zoom" data-toggle="modal" data-target="#modalplus3">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/vessel-by-Magdalene-Odundo.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="elevation">
        <h5 class="card-title">Vessel, by Magdalene Odundo OBE</h5>
      </div>
    </div>

    <div class="card view overlay zoom" data-toggle="modal" data-target="#modal37">
      <img class="card-img-top wow fadeInUp" src="images/kenyan-history/joseph-murumbi-collection/zero-point.jpg" alt="Card image cap">
      <div class="card-img-overlay" id="carlo">
        <h5 class="card-title">zero point</h5>
        <p>Lady Magdalene Odundo’s pot made of clay graces the “Zero Point” where all distances in EASTERN is measured
          from it is at the centre of Nairobi. She received an OBE from the Queen of England for her work.
        </p>
      </div>
    </div>
    ​ ​
  </div>
</div>

<div class="modal fade" id="modalplus1" tabindex="-1" role="dialog" aria-labelledby="modalplus1label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalplus1label">20-murumbi-tn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A piece from Joseph Murumbi's collection. Unfortunately not much is known about the artist or the piece
          itself.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalplus2" tabindex="-1" role="dialog" aria-labelledby="modalplus2label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalplus2label">34-murumbi-tn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A piece from Joseph Murumbi's collection. Unfortunately not much is known about the artist or the piece
          itself.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalplus3" tabindex="-1" role="dialog" aria-labelledby="modalplus3label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalplus3label">Vessel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/RWCrGWVsP6U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <p>Artist: Magdalene Odundo</p>
        <p>A piece from Joseph Murumbi's gallery at the Nairobi Archives. Magdelene is a Kenyan-born British studio
          potter. Her best-known ceramics are hand built, using a coiling technique.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal27" tabindex="-1" role="dialog" aria-labelledby="modal27label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal27label"> Asiru-olatunde-osogbo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Asiru-olatunde-osogbo</p>
        <p>Asiru Olatunde Osogbo (Nigerian 1918-1993) was a blacksmith like his ancestors before him . In 1961 he
          began to create figures of animals out of recycled copper and aluminium and this work evolved into a unique
          repousse technique on
          aluminium panels.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal28" tabindex="-1" role="dialog" aria-labelledby="modal28label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal28label">Ateloi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Ateloi</p>
        <p>The Turkana and other Nilotic tribes in Kenya and Ethiopia make a hair ornament called Ateloi. It is woven
          with grass with copper, brass or iron wires and attached to the clay headdresses that are either permanent
          or removable. These
          ornaments are used for holding ostrich or other onrmanetal feathers for their headdresses ​
        </p>
      </div>
      ​
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal29" tabindex="-1" role="dialog" aria-labelledby="modal29label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal29label">Dogon-iron-lamp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Dogon iron lamp</p>
        <p>Dogon iron lamp from Mali</p>
      </div>
      ​
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal31" tabindex="-1" role="dialog" aria-labelledby="modal31label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal31label">Lion’s-mane-headdress </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Lion’s-mane-headdress</p>
        <p class="card-text"></p>
        <p>Lion’s mane headdress Alawaru proclaims that a Maasai has killed a lion during warrior-hood. For centuries
          this was a necessary ritual but is no longer practiced.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal32" tabindex="-1" role="dialog" aria-labelledby="modal32label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal32label">Postage-stamps </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">Postage-stamps </p>
        <p>Gold version of the Penny Black was the world’s first adhesive postage stamp used in a public postal
          system. It was issued in Britain on 1 May 1840, for official use from 6 May of that year and features a
          profile of the Queen Victoria.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal33" tabindex="-1" role="dialog" aria-labelledby="modal33label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal33label">spaghetti-press</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">spaghetti-press </p>
        <p>A spaghetti press made in Lamu. The dough put inside the cylinder and the wooden lever pressed down to
          squeeze the spaghetti out of holes in the bottom of it.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal34" tabindex="-1" role="dialog" aria-labelledby="modal34label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal34label">Swahili-chair</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A Swahili nobleman’s chair from Lamu inlaid with ebony and bone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal35" tabindex="-1" role="dialog" aria-labelledby="modal35label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal35label">The-nairobi-gallery-entry-sculpture </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal36" tabindex="-1" role="dialog" aria-labelledby="modal36label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal36label">Yoruba-carved-stool</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Yoruba carved wooden stool with 4 figure.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
​
<div class="modal fade" id="modal37" tabindex="-1" role="dialog" aria-labelledby="modal37label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal37label">Zero Point</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="video-wrapper">
          <iframe class="video-responsive" width="468" height="300" src="https://www.youtube.com/embed/ULaD7iFEpFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <p>Lady Magdalene Odundo’s pot made of clay graces the “Zero Point” where all distances in Kenya is measured
          from it is at the centre of Nairobi. She received an OBE from the Queen of England for her work.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>

  </div>
</div>
<br>
<h3 class="text-center wow zoomInDown">You can find us here!</h3>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2719.9399216068073!2d28.82805561557433!3d47.02178427915022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c3249ce578b%3A0x10ac60ab453c0947!2z0J3QsNGG0LjQvtC90LDQu9GM0L3Ri9C5INC80YPQt9C10Lkg0LjQt9C-0LHRgNCw0LfQuNGC0LXQu9GM0L3QvtCz0L4g0LjRgdC60YPRgdGB0YLQstCwINCg0LXRgdC_0YPQsdC70LjQutC4INCc0L7Qu9C00L7QstGL!5e0!3m2!1sru!2s!4v1606855478467!5m2!1sru!2s"  width="1470" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
